*{
  margin: 0;
  padding: 0;
}

html,body{
  
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(2, 6, 27, 0.644);
    background: linear-gradient(102deg, rgb(19, 65, 102) 0%, 
            rgba(9,15,23,1) 100%, rgba(27, 30, 57, 0.555) 100%);
    border-radius: 100px;
  }
  
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(10, 54, 177, 0.788);
    border-radius: 100px;
  }
}

.App {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  background: rgb(22,54,25);
  background: linear-gradient(102deg, rgba(22,54,25,0.989233193277311) 6%, rgba(1,36,96,1) 98%);
  color: #ffffff;
  width: 100%;
  display: flex;
  min-height: 100vh;
  position: absolute;



}


.left{
  width: 222px;
  height: 100vh;
  background: whitesmoke;
  position: absolute;
  /* display: none; */
}


