body {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  /* background: rgb(16,27,80);
  background: linear-gradient(102deg,
             rgba(16,27,80,1) 0%, 
            rgba(9,15,23,1) 6%, rgba(27,30,57,1) 100%); */
  color: #ffffff;
  background: rgb(35,25,43);
  background: radial-gradient(circle, rgba(35,25,43,1) 18%, rgba(0,0,0,1) 73%);

}

.App{
  display: flex;
  width: 100%;
  /* flex-direction: column; */
  /* width: 100%; */
  /* align-items: center;
  justify-content: center; */
  /* display: grid;
  grid-template-columns: 0.57fr 3fr; */
}














.left{
  width: 222px;
  height: 100vh;
  background: whitesmoke;
  position: absolute;
  /* display: none; */
}

.right{
  flex: 1;
  height: 100vh;
  background: red;
}